body{
    margin: 0;
    background-image: url("../assets/imgs/whitebg.png");
}

.container-white {
    animation: from-left .8s ease forwards;
    position: relative;
    transition: all .8s ease;
}

.container-red {
    animation: from-right .8s ease forwards;
    background-image: url("../assets/imgs/redbg.png");
    position: relative;
    transition: all .8s ease;
}
  
@keyframes from-right {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
}

@keyframes from-left {
    0% {
      transform: translateX(-1400px);
    }
    100% {
      transform: translateX(-0px);
    }
}
  