#home h1{
    font-size: 15vw;
    line-height: .5;
}

#sub-header{
    font-size: 7.5vw;
    white-space: nowrap;
}

#home-buttons{
    height: 50vh;
}

#home-buttons .col-sm-4{
    height: 100%;
}

#home-buttons button{
    all: unset;
    font-size: 36px;
}
