nav{
    justify-content: space-between;
}

nav img{
    height: 8vh;
}

nav li{
    display: inline;
}

nav button{
    all: unset;
    font-size: 24px;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
}

#projects-btn{
    color: var(--yellow);
}

#about-btn{
    color: var(--blue);
}

#contact-btn{
    color: var(--red);
}

