#nav ul{
    border: 1px solid #fff;
    border-radius: 10px;
    top: 0px;
    right: 0px;
    position: absolute;
    margin: 10px;
    padding: 20px;
}

#nav li{
    all: unset;
    text-decoration: none;
    list-style: none;
    color: #fff;
    display: inline;
    margin: 10px;
    font-family: Woodland;
    font-size: 25px;
}

