.project{
    display: inline-flex;
    height: 100vh;
    overflow-y: hidden;
}

#carousel1{
    display: flex;
}

#carousel2{
    display: none;
}

.project-header{
    margin: 0px;
    padding: 10px;
    color: #FFF;
    display: flex;
    text-shadow: -4px 3px #000;
    margin: auto;
}

.carousel-root {
    width:600px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.project-info {
    width:100%;
    display: block;
    justify-content: center;
    margin: auto 10px;
}

.project-info h3{
    font-size: 25px;
    margin:0px 0px 10px 0px;
    font-family: Montserrat;
    color: #FFF;
}

.project-info img{
    height: 30px;
    justify-content: center;
}

.inline{
    display: inline-flex;
}

.project-info h4{
    font-family: Montserrat;
    color: #FFF;
    text-shadow: -2px 3px #000;
    margin: auto 20px
}

.project-info p{
    color: #FFF;
    margin: 25px;
}

@media (max-width: 768px) {
    #carousel1 {
        display: none;
    }
    #carousel2 {
        display: flex;
        padding: 20px;
    }
    .project{
        display: block;
    }
    .project-info {
        margin: 20px 10px;
    }
}
