#project header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#project header h1{
    margin: 2vh 5vw;
}

#project header img{
    height: calc(1.625rem + 7vw);
    margin: 2vh 0;
}

.project-tag{
    border: 2px solid;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

#info{
    padding-top: 10vh;
}

#info .big-text{
    border-bottom: 2px solid var(--black);
}
