body{
    overflow-x: hidden;
}

:root{
    --red: #af453c;
    --white: #e4e4e4;
    all: unset;
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat.ttf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(../assets/fonts/Montserrat-Italic.ttf);
}

.center{
    text-align: center;
    align-items: center;
}

.big-text{
    font-family: Montserrat;
    font-weight:700;
    color: var(--red);
    display: block;
    font-size: 100px;
}

.section-header{
    margin: 25px 25px 25px 100px;
}

p{
    font-size: 25px;
    font-family: Montserrat;
    margin: 25px;
}   

#header .big-text{
    margin-top: 100px;
}

#nav-items, li, a{
    text-decoration: none;
    all: unset;
    display: inline-flex;
    margin: 5px 50px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
}

h2{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 75px;
}

#header img{
    height: 100px;
}

#about{
    display: flex;
}

#about .big-text{
    display: block;
}

#profile {
    height: 300px;
    border: 4px solid #000;
    margin: 75px 0px 25px 200px;
    display: flex;
}

#about span{
    font-weight: 600;
}

#location{
    height: 40px;
    transform: translate(0px, 10px);
}

#icons{
    display: block;
}

.icon{
    height: 80px;
    margin: 10px 100px auto 25px;
}

#portfolio{
    align-items: center;
}

.portfolio-item{
    display: inline-flex;
    align-items: center;
    width: 100vw;
    margin: auto;
}

.portfolio-item p{
    width: 30vw;
    margin: 20px 50px 20px auto;
}

.portfolio-item img{
    height: 60vh;
    width: fit-content;
    margin: 20px auto 20px 50px;
    border: 4px solid var(--red);
}

/* Laptop */
@media (max-width: 1024px) {
    #nav-items, li, a{
        margin: 5px 25px;
    }

    .big-text{
        font-size: 75px;
    }

    h2{
        font-size: 50px;
    }

    #header img{
        height: 75px;
    }

    p{
        font-size: 20px;
    }   

    #profile{
        height: 250px;
        margin: 75px 0px 0px 75px;
    }

    .icon{
        height: 60px;
        margin: 10px 75px auto 25px;
    }

    #location{
        transform: translate(-10px, 10px);
    }
    
}

/* Tablet */
@media (max-width: 768px) {
    #nav-items, li, a{
        margin: 5px 15px;
        font-size: 15px;
    }

    .big-text{
        font-size: 50px;
    }

    h2{
        font-size: 25px;
    }

    #header img{
        height: 50px;
        margin-top: 100px;
    }

    #about{
        display: block;
        align-items: center;
    }

    .section-header{
        margin: 20px;
    }

    #icons{
        display: flex-block;
    }

    #profile, .icon{
        margin: auto;
    }
    
}

/* Phone */
@media (max-width: 425px) {
    #nav-items, li, a{
        margin: 5px 10px;
        font-size: 12px;
    }

    .big-text{
        font-size: 35px;
    }

    h2{
        font-size: 20px;
    }

    img{
        height: 25px;
    }

    #profile{
        height: 200px;
    }

    .icon{
        height: 40px ;
    }

    .portfolio-item{
        display: block;
    }

    .portfolio-item p{
        margin: auto;
        width: 80vw;
    }

    .portfolio-item img{
        
        height: 50vh
    }
    
}