:root{
    --white: #F7F4ED;
    --black: #333335;
    --red: #E63636;
    --blue: #3F8FB7;
    --yellow: #F9CD54;
}

body{
    background-color: var(--white);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    position: relative;
}

@font-face {
    font-family: Hello-Kooky;
    src: url(../assets/fonts/Hello-KookyCloud-ExtraKooky.otf);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--white); 
  }

  ::-webkit-scrollbar-thumb {
    background: var(--black); 
    border-radius: 5px;
  }

.hello-kooky{
    font-family: Hello-Kooky;
}

.duper-regular{
    font-family: "duper", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.duper-bold{
    font-family: "duper", sans-serif;
    font-weight: 700;
    font-style: normal;
}

a{
    color: unset;
    text-decoration: none;
}

a:hover{
    color: unset;
    text-decoration: none;
}

.grow{
    transition: all 0.3s ease-in-out;
}

.grow:hover {
    transform: scale(1.05) !important;
    cursor: default;
}

.black{
    color: var(--black);
}

.red{
    color: var(--red);
}

.yellow{
    color: var(--yellow);
    border-color: var(--yellow);
}

.blue{
    color: var(--blue);
}

.header{
    font-size: calc(1.625rem + 8vw);
    font-family: hello-kooky;
}

.sub-header{
    font-size: calc(1.625rem + 2vw);
}

.big-text{
    font-size: 30px;
}

.small-text{
    font-size: 17px;
}

.p-tag{
    font-size: 22px;
}

footer #footer-smiley{
    height: 8vh;
}

footer a:hover{
    all: unset;
    font-family: "duper", sans-serif;
    font-weight: 700;
    font-style: normal;
}